---
layout: default
permalink: /check-payment/
---
<h2>Check ⚡️ Payment</h2>
<div id="mainpage">
  <div id="blurb">
    <p>Enter the receipt number to check if its paid or not (lightning only)</p>
  </div>
  <div id="lnapp">
    <div id="receiptcheck">
      <input id="receiptrefinput" type="text" value="" placeholder="receipt reference" />
      <button id="checkreceiptref" v-on:click="checkreceipt">Check ⚡️ lightning payment receipt</button>
      <input id="invoicerhost" name="invoicerhost" value="rpi-invoicer.nolim1t.co" style="visibility: hidden; " />
      <div id="receiptresult">
      </div>
    </div>
  </div>
</div>
