---
layout: default
permalink: /tips/
---
<h2>lightning ⚡️ Donations</h2>
<div id="mainpage">
  <div id="blurb">
    <p>
      Building cool technology and working on cool projects takes time and also money (food / living).
    </p>
    <p>
      Why not take part of the future today and contribute a little? Your choice of: XS (micro-donation, few cents) / Normal (a coffee) / Generous (Beer) / Baller (Steak) or the special 💨🌿🚀 button.
    </p>
    <p>
    For more free form donations, you may use <a href="/ln-invoice/">this page</a> too.
    </p>
  </div>
  <div id="lnpay" style="visibility: visible; ">
    <div id="lnapp">
      <input id="amountinput" v-model="amount" placeholder="Tip THB amount"  style="visibility: hidden; " />
      <input id="fiatcode" name="fiatcode" placeholder="Currency" value="THB" style="visibility: hidden; " />
      <div id="buttons">
        <div id="shoutout">
          <input id="shoutoutbox" type="text" placeholder="OPTIONAL. Mention your @twitter or shill your website domain" />
        </div>
        <div id="chooseyourtype">
          <button id="like-button" onClick='document.getElementById("amountinput").value = "0.50"; lnapp.generateInvoice();'>👍</button>
          <button id="coffee-button" onClick='document.getElementById("amountinput").value = "50"; lnapp.generateInvoice();'>☕️ </button>
          <button id="beer-button" onClick='document.getElementById("amountinput").value = "120"; lnapp.generateInvoice();'>🍺</button>
          <button id="love-button" onClick='document.getElementById("amountinput").value = "420"; lnapp.generateInvoice();'>🥩</button>
          <button id="smoke-it-button" onClick='document.getElementById("fiatcode").value "Satoshis"; document.getElementById("amountinput").value = "69420"; lnapp.generateInvoice();'>💨🌿🚀</button>
        </div>
        <div id="submit">
          <input id="descriptionform" type="hidden" value="Lightning donation to nolim1t.co" />
        </div>
      </div>
      <button id="submitbutton" v-on:click="generateInvoice" style="visibility: hidden;">Send tip using ⚡️ lightning or another crypto</button>
      <div id="result">
      </div>
    </div>
  </div>
</div>
