---
layout: default
permalink: /khanom-yoga-festival/
---
<h2>Khanom Beach Yoga Festival</h2>
<div id="mainpage">
  <div id="blurb">
    <p>
      Please enter your email address and press "pay" to generate a QR code
    </p>
      Rates are using Zipmex rates.
    </p>
  </div>
  <div id="lnpay" style="visibility: visible; ">
    <div id="lnapp">
      <input id="amountinput" v-model="amount" placeholder="Tip THB amount"  style="visibility: hidden; " />
      <input id="fiatcode" name="fiatcode" placeholder="Currency" value="THB" style="visibility: hidden; " />
      <div id="buttons">
        <div id="shoutout">
          <input id="shoutoutbox" type="text" placeholder="Please enter your email here" />
        </div>
        <div id="chooseyourtype">
          <button id="ticket-button" onClick='document.getElementById("amountinput").value = "800"; lnapp.generateInvoice();'>🎫</button>
        </div>
        <input id="invoicerhost" name="invoicerhost" value="rpi-invoicer.nolim1t.co" style="visibility: hidden; " />
        <div id="submit">
          <button id="submitbutton" style="visibility: hidden; "></button>
          <input id="descriptionform" type="hidden" value="⚡️ payment" />
        </div>
      </div>
      <!--
      <button id="submitbutton" v-on:click="generateInvoice" style="visibility: hidden;">Send tip using ⚡️ lightning or another crypto</button>
      -->
      <div id="result">
      </div>
    </div>
  </div>
</div>
