---
layout: default
permalink: /ln-invoice/
---
<h2>lightning ⚡️ payment page</h2>
<div id="mainpage">
  <div id="blurb">
    <p>
      Welcome to the future! We now take lightning payments through a proxied API web service which generates a ⚡️ LN invoice.
    </p>
  </div>
  <div>
    <iframe width="840" height="345" src="https://zbd.gg/embed/nolim1t" frameborder="0" />
  </div>
</div>
