---
layout: default
permalink: /steak/
---
<h2>Bitcoin Steak 🥩 Event Lightning Payment page</h2>
<div id="mainpage">
  <div id="blurb">
    <p>
      This page allows for orders of steaks in bitcoin lightning. Upon transaction completion, please send proof of payment to <strong>@nolim1t:matrix.nolim1t.co</strong> or <strong>hello at nolim1t.co</strong> just for further validation so we don't have any issues and also I will need to issue you a physical steak ticket. Onchain (and liquid layer 2 transactions), and Bank transfer is also doable too, please enquire through the same channels for bank details.
    </p>
    <p>
      Steaks will be a 690 thai baht rate adjusted set (Ribeye 12oz chargrilled, baked potato, vegetables on the side, and served with Caesar salad). See pictures <a href="https://www.facebook.com/lncm.box/posts/1047739412671718" target="newwin">here</a> for an idea of what you will get
    </p>
    <p>
      Dirty fiat payment also accepted. Please deposit 690 thai baht to kasikorn bank account number: 124-3-15371-5 (SWIFT: KASITHBK), and then send the receipt to [lncm](https://twitter.com/lncnx) on twitter
    </p>
  </div>
  <div id="lnpay" style="visibility: visible; ">
    <div id="lnapp">
      <input id="amountinput" v-model="amount" placeholder="Tip THB amount"  style="visibility: hidden; " />
      <input id="fiatcode" name="fiatcode" placeholder="Currency" value="THB" style="visibility: hidden; " />
      <div id="buttons">
        <div id="shoutout">
          <input id="shoutoutbox" type="text" placeholder="Mention your pgp / email or twitter handle so we know how to contact you" />
        </div>
        <div id="chooseyourtype">
          <button id="steak-1-button" onClick='document.getElementById("amountinput").value = "690"; lnapp.generateInvoice();'>🥩</button>
        </div>
        <input id="invoicerhost" name="invoicerhost" value="rpi-invoicer.nolim1t.co" style="visibility: hidden; " />
        <div id="submit">
          <button id="submitbutton" style="visibility: hidden; "></button>
          <input id="descriptionform" type="hidden" value="Steak 🥩 ⚡️ payment" />
        </div>
      </div>
      <!--
      <button id="submitbutton" v-on:click="generateInvoice" style="visibility: hidden;">Send tip using ⚡️ lightning or another crypto</button>
      -->
      <div id="result">
      </div>
    </div>
  </div>
</div>
